.App {
  text-align: center;
  padding: 80px 20px;
}

input {
  width: 400px;
  height: 40px;
  padding: 20px;
  margin-bottom: 60px;
  font-size: 24px;
}

button {
  margin-top: 40px;
  width: 250px;
  height: 80px;
  font-size: 24px;
}

img {
  margin: 60px 0;
}

select {
  width: 200px;
  height: 60px;
  padding: 0 20px;
  margin-bottom: 60px;
  font-size: 24px;
}

a {
  font-size: 64px;
}

h1 {
  font-size: 52px;
}

h3 {
  font-size: 32px;
}
